<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitHub Progress Tracker</title>
</head>
<body>

<h1>GitHub Progress Tracker</h1>

<!-- Add this button here -->
<p>
    <a href="{{ url_for('dashboard') }}">
        Open Dashboard
    </a>
    <a href="/student/24b01a1211"
   class="btn btn-success">
    Open Student Analytics
</a>
<br><br>
<a
href="/students"
class="btn btn-dark">

View Students

</a>
</p>

<h2>Generate Summary CSV</h2>
<form action="{{ url_for('summary') }}" method="post">
    <label for="count">Number of students (leave empty for all):</label>
    <input type="number" name="count" id="count" min="1">
    <button type="submit">Generate Summary CSV</button>
</form>
<div class="mt-4">

    <form action="/excel" method="post">

        <button
            class="btn btn-success">

            Export Excel Report (.xlsx)

        </button>

    </form>
    <div class="card mt-4 shadow">

    <div class="card-header bg-primary text-white">
        🔍 Search Student Analytics
    </div>

    <div class="card-body">

        <form action="/search_student" method="POST">

            <label class="form-label">
                Enter Registration Number
            </label>

            <input
                type="text"
                name="regno"
                class="form-control"
                placeholder="24b01a1211"
                required
            >

            <button
                type="submit"
                class="btn btn-primary mt-3">

                View Analytics

            </button>
            <a href="/leaderboard" class="btn btn-warning">
🏆 Leaderboard
</a>


        </form>

    </div>

</div>

</div>

<h2>Generate PDF for a single student</h2>
<form action="{{ url_for('student_pdf') }}" method="post">
    <label for="regno">Enter Registration Number:</label>
    <input type="text" name="regno" id="regno" required>
    <button type="submit">Generate PDF</button>
</form>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
        {% for category, message in messages %}
            <li style="color:red">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

</body>
</html>